{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diafano - signin/signup</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" type="text/css" href = "{% static 'landing.css' %}">
    <link rel="stylesheet" type="text/css" href = "{% static 'dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href = "{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href = "{% static 'newsfeed.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Raleway:300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

    <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
</head>
<body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <div id=wrapper>
    <nav >
      <li><a href="/settings/"><img border="0" alt="home" width="20" height="20" src="{% static 'assets/home.png' %}"></a></li>
      <li><a href="/profile/?name={{request.session.username}}"><img border="0" alt="profile" width="20" height="20" src="{% static 'assets/profile.png' %}"></a></li>
      <li><a href="/settings/"><img border="0" alt="settings" action = "/settings/" width="20" height="20" src="{% static 'assets/settings.png' %}"></a></li>
      <li><a href="/"><img border="0" alt="logout" width="20" height="20" src="{% static 'assets/logout.png' %}"></a></li>
      <hr>
      <main>
        <div class='newsfeed'>
          <div class='newsfeed_header'>
            <div class='newsfeed_header__left'>
              <h1>News</h1>
              <span>All</span>
              <input id='dropdown' type='checkbox'>
                <label for='dropdown'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/arrowDown.png'>
                  <ul>
                    <li>Global</li>
                    <li>Local</li>
                  </ul>
                </label>
              </input>
            </div>
            <div class='newsfeed_header__right'>
              <h1>Posts</h1>
              <span>14.2 K</span>
            </div>
          </div>
          <div class='newsfeed_articlecontainer'>
            <div class='newsfeed_articlecontainer__article' id='first'>
              <div class='article_published'>
                <p>Published in</p>
                <a href='#'>Sideblog</a>
              </div>
              <div class='article_title'>
                <h1>Web Development Reading List #100</h1>
              </div>
              <div class='article_content'>
                <p>What's happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools?</p>
              </div>
              <div class='article_profile'>
                <img src='https://firebasestorage.googleapis.com/v0/b/diafano-d139c.appspot.com/o/profiledefault.png?alt=media&token=25d375c4-f233-442b-8c1b-1a7b5ab656df' width="100" height="100">
                <a href='https://codepen.io/CubiDesigns' target='_blank'>Reece McDonald</a>
                <p>3hrs ago</p>
              </div>
            </div>
            <div class='newsfeed_articlecontainer__article' id='first'>
              <div class='article_published'>
                <p>Published in</p>
                <a href='#'>Sideblog</a>
              </div>
              <div class='article_title'>
                <h1>Web Development Reading List #101</h1>
              </div>
              <div class='article_content'>
                <p>What's happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools?</p>
              </div>
              <div class='article_profile'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/profile_icon.png'>
                <a href='https://codepen.io/CubiDesigns' target='_blank'>Reece McDonald</a>
                <p>3hrs ago</p>
              </div>
            </div>
            <div class='newsfeed_articlecontainer__article' id='first'>
              <div class='article_published'>
                <p>Published in</p>
                <a href='#'>Sideblog</a>
              </div>
              <div class='article_title'>
                <h1>Web Development Reading List #101</h1>
              </div>
              <div class='article_content'>
                <p>What's happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools?</p>
              </div>
              <div class='article_profile'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/profile_icon.png'>
                <a href='https://codepen.io/CubiDesigns' target='_blank'>Reece McDonald</a>
                <p>3hrs ago</p>
              </div>
            </div>
            <div class='newsfeed_articlecontainer__article' id='first'>
              <div class='article_published'>
                <p>Published in</p>
                <a href='#'>Sideblog</a>
              </div>
              <div class='article_title'>
                <h1>Web Development Reading List #101</h1>
              </div>
              <div class='article_content'>
                <p>What's happening in the industry? What important techniques have emerged recently? What about new case studies, insights, techniques and tools?</p>
              </div>
              <div class='article_profile'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/profile_icon.png'>
                <a href='https://codepen.io/CubiDesigns' target='_blank'>Reece McDonald</a>
                <p>3hrs ago</p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </nav>
  </div>

  <div id='map'> </div>

  <script type="text/javascript">
    var firebase_config = {
      apiKey: "{{firebase_apikey}}",
      authDomain: "{{firebase_authdomain}}",
      databaseURL: "{{firebase_dburl}}",
      storageBucket: "{{firebase_storagebucket}}"
    };
    firebase.initializeApp(firebase_config);

    var database = firebase.database();

    var news = database.ref('news');
    var news_markers = [];
    news.on('value', function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          // map data
          var childData = childSnapshot.val();
          var news_data = {
              "type": "Feature",
              "properties": {
                  "description": "<p><strong>" + childData['author'] + "</strong><br>" + childData['txt'] + "</p>",
                  "icon": "theatre"
              },
              "geometry": {
                  "type": "Point",
                  "coordinates": [childData['location']['longitude'], childData['location']['latitude']]
              }
          }
          news_markers.push(news_data);

          // // news feed data
          // var ul = document.getElementById("news_list");
          // var li = document.createElement('li');
          // li.appendChild(document.createTextNode(childData['title']));
          // ul.appendChild(li);

        });
    });

    mapboxgl.accessToken = "{{mapbox_access_token}}";
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      zoom: 5.0,
      center: [32.75215,39.86927],
      pitch: 60
    });

    map.on("load", function () {
      map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
          if (error) throw error;
          map.addImage("custom-marker", image);
          map.addLayer({
            id: "markers",
            type: "symbol",
            source: {
              type: "geojson",
              data: {
                type: "FeatureCollection",
                features: news_markers
              }
            },
            layout: {
              "icon-image": "custom-marker",
            }
          });
        });

      map.on('click', 'markers', function (e) {
          var coordinates = e.features[0].geometry.coordinates.slice();
          var description = e.features[0].properties.description;

          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          new mapboxgl.Popup()
              .setLngLat(coordinates)
              .setHTML(description)
              .addTo(map);
      });

      map.on('mouseenter', 'markers', function () {
          map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to the pointer when mouse leaves
      map.on('mouseleave', 'markers', function () {
          map.getCanvas().style.cursor = '';
      });
    });
  </script>

<script  src="{% static 'login.js' %}"></script>

</body>
</html>
